<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.shop.MerchantsApplyMapper" >
    <select id="querymerchantsstatu" resultType="com.MyMerchantsApply" parameterType="com.shop.MerchantsApplyDto">
        SELECT idcardimagezheng,idcardimagefan, photos,user_id userId,uname,phone,id_card idCard,m.id,NAME,address,apply_time applyTime,
        user_message userMessage,state,system_message systemMessage,is_read isRead
        FROM merchants_apply m INNER JOIN USER u ON m.user_id=u.id
        <where>
            <if test="1==1">and state=0</if>
            <if test="search_name != null and search_name != ''">
                and uname like concat('%',#{search_name},'%')
            </if>
        </where>
    </select>
</mapper>